{% extends 'base.html' %} <!-- Se tiver um template base -->

{% block content %}
<h1>Lista de Livros</h1>
<!-- Bloco para exibir mensagens -->
{% if messages %}
<div>
    {% for message in messages %}
        <div class="
            {% if message.tags %}alert alert-{{ message.tags }}{% endif %}
        ">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}
<p><a href="{% url 'dever:cria_livro' %}" class="btn btn-primary">Cadastrar Novo Livro</a></p>
<table class="table">
    <thead>
        <tr>
            <th>Nome dos Livros</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for livro in livros %}
            <tr>
                <td>{{ livro.nome_livro }}</td>
                <td>
                    <a href="{% url 'dever:atualiza_livro' livro.pk %}" class="btn btn-warning">Editar</a>
                    <a href="{% url 'dever:deleta_livro' livro.pk %}" class="btn btn-danger" 
                    onclick="return confirm('Tem certeza que deseja deletar {{ livro.nome_livro }}? Esta ação é irreversível!');">
                    <i class="fas fa-trash-alt"></i> Deletar
                    </a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="2">Nenhuma livro cadastrado.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

  
{% endblock %}

